@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white text-black; /* Default (Light Mode) */
  @apply transition-colors duration-300;
}

html.dark {
  @apply bg-black text-white; /* Dark Mode */
}

:root {
  /*LIGHT MODE (default) */
  --nav-base: #ffffff;
  --nav-pill: #000000;
  --nav-pill-text: #ffffff;
  --nav-hover-text: #000000;
}

html.dark {
  /*DARK MODE */
  --nav-base: #000000;
  --nav-pill: #ffffff;
  --nav-pill-text: #000000;
  --nav-hover-text: #ffffff;
}
